body{
    text-align: center;
}
h1{
    font-family: fantasy;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    
}

#contenedorPokemon{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.contenedorPrincipal{
    display: flex;
    width: 400px;
   text-align: center;
   margin-left: 550px;
   margin-top: 25px;
}
input{
    width: 240px;
    margin-right: 20px;
}
.botones{
    margin-right: 5px;
}

